<div class="stack orderable">
  <div class="card card-backside card-site-title" style="<%= sideways_random_rotation_css %>"></div>
</div>

<div class="stack orderable">

  <div class="card card-about shufflable unselectable" style="<%= slight_random_rotation_css %>">
    <h2 class="about-heading" style="margin-top: 85px;">Facilities</h2>
    <ul>
      <li>12 personal desk spaces</li>
      <li>sofa corner</li>
      <li>kitchen</li>
      <li>meeting/workshop area</li>
      <li>enough windows yet no direct sunlight</li>
      <li>easy access to street</li>
      <li>135 m<sup>2</sup> total area</li>
    </ul>
  </div>

  <div class="card card-about shufflable unselectable" style="<%= slight_random_rotation_css %>">
    <h2 class="about-heading" style="margin-top: 130px;">Services</h2>
    <ul>
      <li>200 MB internet by Welho</li>
      <li>Burglar alarm featuring security guards by Securitas</li>
      <li>Printer</li>
      <li>Weekly cleaning</li>
    </ul>
  </div>

  <div class="card card-about shufflable unselectable" style="<%= slight_random_rotation_css %>">
    <h2 class="about-heading">Location</h2>
    <p>
      Deck is located in the hip and happening Punavuori district. 
    </p>  
    <p>
      There's plenty of lunch options nearby, not to mention the Alepa store right in the opposite building.
    </p>
    <p>
      The final stop of tram line 1A to Eira is right outside our doorstep. Bus 14 rides very close as well.
    </p>
  </div>

  <div class="card card-about shufflable unselectable" style="<%= slight_random_rotation_css %>">
    <h2 class="about-heading">About</h2>
    <p>
      Deck is a co-working space (in French "ty&ouml;huone") for those who work with software and internet. 
    </p>
    <p>
      Our aim is to sustain a synergistic and fun working community for freelancers.
    </p>
    <p>
      We are located at Pursimiehenkatu 26 H in Punavuori, Helsinki.
    </p>
  </div>

</div>

<div class="stack orderable">

  <% @members.shuffle.each do |member| %>
  <div class="card member-card unselectable shufflable" style="background: url(<%= image_path "member#{member.id}.png" %>); <%= random_rotation_css %>">
      <div class="member-name">
        <%= member.name %>
      </div>
      <div class="member-company">  
        <%= member.company%>
      </div>
  </div>
  <% end %>

</div>

<div class="stack orderable">

  <% [1,2,3,4].shuffle.each do |photo| %>
  <div class="card stack-card unselectable shufflable" style="<%= random_rotation_css %>">
    <div class="photo" style="background: url(<%= image_path "photo#{photo}.png" %>);"></div>
  </div>
  <% end %>

</div>

<div class="stack orderable">
  <div id="map-card" class="card card-map" style="<%= slight_random_rotation_css %>">
    <div id="map"></div>
  </div>
</div>

<div class="stack orderable">
  <div class="card card-about" style="<%= slight_random_rotation_css %>">

  <h2 class="relevant-heading">Relevant to your interests?</h2>

  <p>
    <%= Location.free_workspaces %> out of <%= Location.workspace_capacity %> work spaces are currently available for rent. 
    
  </p>
  <p>
    Monthly rent for single work space is approximately <%= Invoice.new.taxless.to_i %> € (+VAT).
  </p> 
  
  <p>
    For enquiries, please contact Pirkka&nbsp;Esko.
  </p>
  <p>mail@pirkkaesko.com <br/> +358 50 3062243</p>

  </div>
</div>

<!--
<div class="stack orderable">

  <div class="card card-member-area">
    <h2 class="member-area-heading">Member Area</h2>
    <% if current_member %>
      <li><%= link_to 'Edit details', edit_member_registration_path %></li>
      <li><%= link_to 'Invoice', invoice_path, :target => "_blank" %></li>
      <li><%= link_to 'Sign out', destroy_member_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_member_session_path %></li>
    <% end %>
  </div>
</div>

-->

<script type="text/javascript">
$(function () {
  
  // stamen layer
  var layer = new L.StamenTileLayer("toner-lite");
  var map = new L.Map("map", {
      center: new L.LatLng(<%= Location.lat%>, <%= Location.lon %>),
      zoom: 12 /* or 17 or 12 */
  });
  map.addLayer(layer);
  
  // // control for centering
  // 
  // var MyControl = L.Control.extend({
  //     options: {
  //         position: 'bottomleft'
  //     },
  // 
  //     onAdd: function (map) {
  //         // create the control container with a particular class name
  //         var container = L.DomUtil.create('div', 'center-map-control');
  // 
  //         // ... initialize other DOM elements, add listeners, etc.
  //         
  //         $('.center-map-control').click(function () {
  //           console.log('centering...');
  //           map.panTo(new L.LatLng(60.15827, 24.934));
  //         });
  // 
  //         return container;
  //     }
  // });
  // 
  // map.addControl(new MyControl());
  // 
  
  // experiment
  x = function () {
    map.panTo(new L.LatLng(60.15827, 24.934));
  }
  
  var deckIcon = L.icon({
    iconUrl: '/assets/deck-marker.png',
    iconSize:     [80, 47],
    iconAnchor:   [40, 0],
    popupAnchor:  [-3, -76]
  });  
  
  // add a marker in the given location, attach some popup content to it and open the popup
  L.marker([<%= Location.lat%>, <%= Location.lon %>], {icon: deckIcon}).addTo(map);

  // gravity for the map panning

  map.on('mousedown', function(e) {
    console.log('mousedown');
    sinceMoved = 0;
  });

  map.on('mouseup', function(e) {
    console.log('mouseup');
    sinceMoved = 0;
  });

  map.on('mouseout', function(e) {
    console.log('mouseout');
    sinceMoved = 0;
  });

  map.on('mousein', function(e) {
    console.log('mousein');
    sinceMoved = 0;
  });

  map.on('mousemove', function(e) {
    console.log('mousemove');
    sinceMoved = 0;
  });
  
  var sinceMoved = 0;
  
  var timer = setInterval(function(){
    console.log('sincemoved: ' + sinceMoved);
    sinceMoved += 1;
    if (sinceMoved > 10) {
      map.panTo(new L.LatLng(60.15827, 24.934));
      sinceMoved = 0;
    }
  },500);
  
});
</script>
