
<div class="card">
<h2>About</h2>

<p>
There are <%= Location.free_workspaces %> work spaces currently available for renting. Monthly rent is now <%= Invoice.new.taxless.to_i %> € (+VAT).
</p> 

<p>
  Services include 200 MB internet, electronic alarm system, weekly cleaning, kitchen area and planning/meeting space.
</p>

<p>
Deck is located at Pursimiehenkatu 26&nbsp;H, right next to the last stop of tram number 1. Bus 14 rides rides close as well.
</p>
</div>


<div class="card">

  <div class="" style="text-align: center; margin-top: 155px;">

  <%= image_tag 'deck-logo.png', :style => '' %>


  <div style="margin: 30px;">co-working space for software pros</div>

  </div>
</div>


  <% @members.each do |member| %>
  <div class="card member-card">
    <a href="<%= member.url %>">
      <div class="member-name">
        <%= member.name %>
      </div>
      <div class="member-company">  
        <%= member.company%>
      </div>
      </a>
  </div>
  <% end %>

<div id="map" class="map card"></div>

<script type="text/javascript">
$(function () {
  
  // stamen layer
  var layer = new L.StamenTileLayer("toner-lite");
  var map = new L.Map("map", {
      center: new L.LatLng(<%= Location.lat%>, <%= Location.lon %>),
      zoom: 17
  });
  map.addLayer(layer);
  
  var deckIcon = L.icon({
    iconUrl: '/assets/deck-marker.png',
    iconSize:     [80, 47],
    iconAnchor:   [40, 0],
    popupAnchor:  [-3, -76]
  });  
  
  // add a marker in the given location, attach some popup content to it and open the popup
  L.marker([<%= Location.lat%>, <%= Location.lon %>], {icon: deckIcon}).addTo(map);
  
    });
</script>