<!DOCTYPE html>
<html>
<head>
  <title>Deck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <!-- leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->
  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>  
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    
    <% if notice %>
    <p class="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>


    <%= yield %>
  
  
    <div class="card">
      <h2>Member Area</h2>
      <% if current_member %>
        <li><%= link_to 'Edit details', edit_member_registration_path %></li>
        <li><%= link_to 'Invoice', invoice_path, :target => "_blank" %></li>
        <li><%= link_to 'Sign out', destroy_member_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_member_session_path %></li>
      <% end %>
    </div>

  </div>
  
</body>
</html>
