<!DOCTYPE html>
<html>
<head>
  <title>Deck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <hr>

  <%= yield %>

  <hr>

  <% if current_member %>
    <%= link_to 'Edit details', edit_member_registration_path %>
    <%= link_to 'Sign out', destroy_member_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Sign in', new_member_session_path %>
  <% end %>

</body>
</html>
