<!DOCTYPE html>
<html>
<head>  
  <title>Deck</title>

  <meta property="og:title" content="Deck - Workspace for Software Pros">
  <meta property="og:image" content="http://deck.fi/assets/deck-share.png">
  <meta property="og:site_name" content="Deck">
  <meta property="og:description" content="Deck is a co-working space for freelancers who work with software and internet, located at Pursimiehenkatu 26 H in Punavuori, Helsinki.">
  <meta property="og:url" content="http://deck.fi/">
  <meta property="og:type" content="website">

  <meta name="viewport" content="width=device-width">

  <%= render :partial => 'layouts/font' %>  
  
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <!-- leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->
  <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>  
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container stack-container">
    
      <% if notice %>
      <p class="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert"><%= alert %></p>
      <% end %>


      <%= yield %>
  
    </div>

    <%= render :partial => 'layouts/analytics'%>
    
</body>
</html>
